#Temp files
*.obj
*.lst
*.txt
*.__i
*.crf
*.o
*.d
*.axf
*.htm
*.build_log.htm
*.dep
*.lnp
*.sct
*.map
*.iex
*.i
*.rd

*.c1
*.h1

#Locals
*.uvgui.*
*.uvguix.*
*.uvopt
*.uvoptx
JLinkLog.txt
*.bak

#Outputs
Listings/
Objects/
DebugConfig/